
.md-typeset div.arithmatex  {
  overflow: initial;
}


.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details, .tabbed-set {
  font-size: 0.8rem;
}



@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color:firebrick
}

:root {
  --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>');
  --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M15.728 9.686l-1.414-1.414L5 17.586V19h1.414l9.314-9.314zm1.414-1.414l1.414-1.414-1.414-1.414-1.414 1.414 1.414 1.414zM7.242 21H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 21z"/> </g> </svg>');
  /*--md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M15.728 9.686l-1.414-1.414L5 17.586V19h1.414l9.314-9.314zm1.414-1.414l1.414-1.414-1.414-1.414-1.414 1.414 1.414 1.414zM7.242 21H3v-4.243L16.435 3.322a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414L7.243 21z"/> </g> </svg>');*/
  --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H1.75zM0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5z"/><path d="M6 10.559V5.442a.25.25 0 0 1 .379-.215l4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559z"/></svg>')

}



.md-typeset .admonition.savoir,
.md-typeset details.savoir {
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title,
.md-typeset .savoir > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title::before,
.md-typeset .savoir > summary::before {
  background-color: rgb(219, 16, 16);
  animation: heart 1000ms infinite;
  -webkit-mask-image: var(--md-admonition-icon--savoir);
          mask-image: var(--md-admonition-icon--savoir);
}

.md-typeset .admonition.exercice,
.md-typeset details.exercice {
  border-color: rgb(171, 235, 198);
}
.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  background-color: rgba(171, 235, 198);
  border-color: rgb(171, 235, 198);
}

.md-typeset .exercice > .admonition-title,
.md-typeset .exercice > summary {
  background-color: rgba(171, 235, 198);
}

.md-typeset .exercice > .admonition-title::before,
.md-typeset .exercice > summary::before {
  background-color: rgb(0, 0, 0);
  -webkit-mask-image: var(--md-admonition-icon--exercice);
          mask-image: var(--md-admonition-icon--exercice);
}

.md-typeset .admonition.video,
.md-typeset details.video {
  border-color: rgb(177, 75, 16);
}
.md-typeset .video > .admonition-title,
.md-typeset .video > summary {
  background-color: rgba(43, 101, 155, 0.1);
  border-color: rgb(177, 75, 16);

}

.md-typeset .video > .admonition-title::before,
.md-typeset .video > summary::before {
  background-color: rgb(177, 75, 16);
     animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);

}

/* Test pour cacher une image en fonction du thème */

body[data-md-color-scheme^="default"] img.sombre {
  display: none;
}

body[data-md-color-scheme^="slate"] img.clair {
  display: none;
}
